[submodule "native-go/proton-bridge"]
	path = native-go/proton-bridge
	url = https://github.com/henrybear327/Proton-API-Bridge.git
[submodule "native-go/proton-api"]
	path = native-go/proton-api
	url = https://github.com/ProtonMail/go-proton-api.git
